<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Weather Data</title>
    <script>
        
        function redirectToCityData() {
            var citySelect = document.getElementById("citySelect");
            var cityId = citySelect.value;
            if (cityId) {
                window.location.href = `/city_weather/${cityId}/`;
            }
        }
    </script>
</head>
<body>
    <h1>All Weather Data</h1>
    <nav>
        <a href="{% url 'create_weather' %}">Add Weather Data</a>

    </nav>
    <div>
        <label for="citySelect">Select City:</label>
        <select id="citySelect">
            <option value="">Select a city</option>
            {% for city in cities %}
            <option value="{{ city.id }}">{{ city.name }}</option>
            {% endfor %}          
        </select>
        <button onclick="redirectToCityData()">View</button>
    </div>

    
</body>
</html>
